.bib {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
  }
  
  .left-books {
    display: flex;
    flex-direction: column;
    margin-left: 240px; /* Зазор между блоками слева и справа */
  }
  
  .left-book {
    border: 1px solid #5ED67E;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
  }
  
  .right-book {
    border: 1px solid #5ED67E;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    color: #fff;
  }
  
  
  
  