.nina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -250px;
}

.left-boxes {
    display: flex;
    flex-direction: column;
}

.left-box {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}

.right-box {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 240px; /* Зазор между правым блоком и левыми блоками */
    padding: 10px;
    color: #fff;
}
