header{
    background-color: #0D0D0D;
    padding: 42px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
nav li{
    display: inline;
    margin-right: 34px;
}
nav a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: white; /* Цвет текста ссылок */
    font-weight: bold; /* Жирный шрифт */
    font-size: 20px; /* Размер шрифта */
  }
  .headlogo{
    float: left;
    margin-top: -38px;
  }
  .MCNlogo{
    font-family: Gilroy-Bold; 
    color: white;
    margin-top: -38px;
    margin-left: 75px;
    padding: auto;
  }
nav a:hover {
    color: #ff5100; /* Цвет ссылки при наведении */
  }
  .box{
    color: #5ED67E;
  }

  /*дальше уже смена языка */
  