header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0D0D0D;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

#main-content {
  margin-top: 60px;
}

.header_container{
  display: flex;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

header .logo h1 {
  margin: 0;
  font-size: 1.8em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #5ED67E;
}

.header_logo {
  display: inline-block;
  vertical-align: middle; /* Чтобы элементы выровнялись по вертикали */
}

.headlogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle; /* Выравнивание логотипа по вертикали */
}

.MCNlogo {
  display: inline-block;
  vertical-align: middle; /* Выравнивание текста по вертикали */
}

.MCNlogo h3 {
  margin: 0; /* Убираем отступы вокруг заголовка */
}

.language select {
  padding: 8px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  position: relative;
}

.language select::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../assets/android-globe.svg');
  background-size: cover;
}

.language select option {
  color: black; /* Цвет текста для опций */
  background-color: transparent; /* Прозрачный фон для опций */
}

.language select option:hover {
  background-color: rgba(0, 0, 0, 0); /* Цвет фона для опции при наведении */
}
