.bodylogo{
    text-align: center;
    margin-top: 60px;
}
.svoboda{
    margin-top: 60px;
    text-align: center;
    color: white;
    font-size: 38px;
}
.diva{
    color: #ffff;
    text-align: center;
    margin-top: -25px;
    align-items: center;
}

.first {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  position: relative;
  align-items: center;
  padding: 24px;
}

.button_container{
  display: flex;
}

.zerotwo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #5ED67E;
  background-color: #5ED67E;
  width: 354px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  color: #ffff;
  font-size: 20px;
  text-align: center;
}


.custom-button {
    width: 354px;
    height: 60px; 
    border: 1px solid #5ED67E;
    border-radius: 30px;
    background-color: #ffffff00;
    margin: 30px; /* Расстояние между кнопками */
    cursor: pointer;
    color: #ffff;
    transition: background-color 0.3s ease;
}
.custom-button:hover {
    background-color: #5ED67E;
    color: #000;
}


.button-container{
  display: flex;
  margin-bottom: 2%;
}