

.suzuki{
    text-align: center;
    margin-top: 210px;
    display: flex;
    flex-direction: column; 
}
.nino{
    color: #EBEBEB;
    font-family: Gilroy-Bold;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ichiko{
    color: #ffff;
    text-align: left;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 445px;
}